*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
:root {
  --dis-primary-color: #3161e0; 
  --dis-text-white-color: white;
  --dis-bg-light-color: lightgrey;
}

/*.debug {
  *{
    border: 1px dashed;
  }
  
}*/
a{
  color: var(--dis-text-white-color);
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}

.d-flex{
  display: flex;
}

/*-----COMMON----*/
header{
  background-color: var(--dis-primary-color);
  padding: 1rem 0;
  .logo, 
  .login{
    flex-grow: 1;
  }
  .logo{
    display: flex;
  }
  .login{
    text-align: end;
    .login_button{
      font-size: 10px;
      border: none;
      border-radius: 25px;
      padding: 5px 10px;
      cursor: pointer;
      
    }
    .login_button:hover {
      background-color: var(--dis-bg-light-color);
    }
  }
  .navbar{
    padding: 10px 0px;
    font-size: 10px;
    justify-content: space-around;
    text-align: center;
    flex-grow: 2;
  }
}
.container{
  width: 70%;
  margin: auto; 
  justify-content: center;
  align-items: center;
}



/*----/HEADER-----*/